
.sp-block-my_investors_files .sp-item {
    padding: 6px;
    margin: 0 0 5px 0;
    cursor: move;
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.sp-block-my_investors_files .sp-item.ui-sortable-helper {
    background: #ccc;
}

.sp-block-my_investors_files .sp-placeholder {
    border: 1px dotted black;
    padding: 6px;
    margin: 0 0 5px 0;
    height: 18px;
}

.sp-block-my_investors_files .sp-item-desc {
    width: 80%;
}

.sp-block-my_investors_files .sp-edit {
    display: none;
    background: #ddd;
}

.sp-block-my_investors_files .sp-x-active {
    border: 2px solid #d00;
}


.sp-block-my_investors_files .sp-result {
    background: #eee;
    min-height: 55px;
    padding: 5px;
}

.sp-block-my_investors_files .sp-source {
    background: #FFEBC1;
    display: none;
}

.sp-block-my_investors_files.sp-show .sp-source {
    display: block;
}

.sp-block-my_investors_files .sp-download-url {
    width: 80%;
}


.sp-block-my_investors_files .sp-fields {
    padding: 10px;
}

.sp-block-my_investors_files .sp-field {
    margin-bottom: 10px;
}
