<div class="sp-field">
    <input type="button" class="sp-toggle" value="Выбрать">
</div>
<div class="sp-source">
    <div class="sp-fields">
        <div class="sp-field">
            <input class="sp-download-url" type="text" placeholder="Скачать файл по ссылке">
        </div>
        <div class="sp-field"><span class="sp-note">или</span></div>
        <div class="sp-field">
            <div class="sp-file">
                <strong>Загрузить</strong>&nbsp;
                <input type="file" name="file[]" multiple="multiple" class="adm-designed-file">
            </div>
        </div>
    </div>
</div>

<div class="sp-result sp-clear"></div>

<div class="sp-edit sp-clear">
    <div class="sp-fields">
        <div class="sp-field">
            <input class="sp-item-date" type="date" placeholder="Дата"/>
        </div>
        <div class="sp-field">
            <input class="sp-item-desc" type="text" placeholder="Описание"/>
        </div>
        <div class="sp-field">
            <input class="sp-item-del" type="button" value="x" title="Удалить">
        </div>
    </div>
</div>
