<div class="sp-x-box" data-uid="{{=it.uid}}">
    <div class="sp-x-buttons sp-x-buttons-box">
        {{?it.enableChange}}
        <span title="{{=it.hint}}" class="sp-x-btn sp-x-box-handle">{{=it.title}}</span>
        {{??}}
        <span title="{{=it.hint}}" class="sp-x-btn ">{{=it.title}}</span>
        {{?}}

        <div class="sp-x-buttons-group">
            {{?it.enableChange}}
            <span title="Вставить блоки после этого блока" class="sp-x-btn sp-x-box-paste">&crarr; Вставить</span>
            <span class="sp-x-btn sp-x-pp-box-open">... Действия</span>
            {{?}}
        </div>

        <div class="sp-x-pp-box">
            {{?it.enableChange}}
            <div class="sp-x-pp-group">
                <span title="Копировать блок" class="sp-x-btn sp-x-box-copy">Копировать</span>
                <span title="Вырезать блок" class="sp-x-btn sp-x-box-cut">Вырезать</span>
            </div>
            <div class="sp-x-pp-group">
                <span title="Поднять вверх" class="sp-x-btn sp-x-box-up">&uarr; Поднять</span>
                <span title="Опустить вниз" class="sp-x-btn sp-x-box-dn">&darr; Опустить</span>
            </div>
            <span title="Удалить блок" class="sp-x-btn sp-x-box-del">x Удалить</span>
            {{?}}
        </div>
    </div>

    {{?it.compiled && it.compiled.length > 0}}
    <div class="sp-x-box-settings">
        {{~it.compiled :item}}
        <div data-name="{{!item.name}}" class="sp-x-settings-group">
            {{~item.options :option}}
            {{?option.selected}}
            <span class="sp-x-active" data-value="{{!option.value}}">{{=option.title}}</span>
            {{??}}
            <span data-value="{{!option.value}}">{{=option.title}}</span>
            {{?}}
            {{~}}
        </div>
        {{~}}
    </div>
    {{?}}

    <div class="sp-x-box-block"></div>

    <div class="sp-x-separator">
        {{?it.enableChange}}
        <span title="Добавить блок" class="sp-x-separator-handle sp-x-btn sp-x-pp-blocks-open">+</span>
        {{?}}
    </div>
</div>
