.sp-izi-contacts-container .department__contacts_add {
    float: right;
}

.sp-izi-contacts-container .contacts__department {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 7px;
    padding: 4px;
}
.sp-izi-contacts-container .department__contacts_row {
    display: flex;
    margin-bottom: 4px;
}
.department__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}