<div class="sp-izi-item-numeral">
    <div class="column count-numeral">
        <input type="text" class="sp-izi-count" placeholder="Цифра" value="{{!it.valueCount}}">
        <input type="text" class="sp-izi-count-title" placeholder="Заголовок под цифрой" value="{{!it.valueTitle}}">
    </div>
    <div class="sp-izi-textarea-wrap">
        <textarea class="sp-izi-textarea" placeholder="Описание цифры">{{!it.valueDesc}}</textarea>
    </div>
    <div class="sp-izi-quote">
        <textarea class="sp-izi-quote-textarea" placeholder="Цитата">{{!it.valueQuote}}</textarea>
    </div>
</div>