<div class="sp-area-image"></div>
<div class="sp-izi-numbers-container"></div>
<div class="sp-izi-numbers-footer">
    <input class="sp-izi-add-number-row" type="button" value="Добавить цифру">
</div>