<div class="sp-acc-tab">
    <div class="sp-x-buttons sp-acc-buttons">
        <span class="sp-x-btn sp-acc-tab-handle">Вкладка</span>
        <input class="sp-acc-tab-value" placeholder="Заголовок вкладки" type="text" value="{{!it.title}}"/>
        <div class="sp-x-buttons-group">
            <span class="sp-x-btn sp-x-pp-box-open">... Действия</span>
        </div>
        <div class="sp-x-pp-box">
            <div class="sp-x-pp-group">
                <span title="Поднять вверх" class="sp-x-btn sp-acc-up">&uarr; Поднять</span>
                <span title="Опустить вниз" class="sp-x-btn sp-acc-dn">&darr; Опустить</span>
            </div>
            <div class="sp-x-pp-group">
                <span title="Удалить вкладку" class="sp-x-btn sp-acc-del">x Удалить</span>
            </div>
        </div>
    </div>
    <div class="sp-acc-tab-container"></div>
    <div class="sp-acc-tab-buttons">
        <span>Добавить:</span>
        {{~it.blocks :item}}
        <span class="sp-x-btn" data-name="{{=item.id}}">{{=item.title}}</span>
        {{~}}
    </div>
</div>
