<div class="sp-acc-box" data-uid="{{=it.uid}}">
    <div class="sp-x-buttons sp-acc-box-buttons">
        <span class="sp-x-btn sp-acc-box-handle">{{=it.title}}</span>
        <div class="sp-x-buttons-group">
            <span class="sp-x-btn sp-x-pp-box-open">... Действия</span>
        </div>
        <div class="sp-x-pp-box">
            <div class="sp-x-pp-group">
                <span title="Поднять вверх" class="sp-x-btn sp-acc-box-up">&uarr; Поднять</span>
                <span title="Опустить вниз" class="sp-x-btn sp-acc-box-dn">&darr; Опустить</span>
            </div>
            <div class="sp-x-pp-group">
                <span title="Удалить блок" class="sp-x-btn sp-acc-box-del">x Удалить</span>
            </div>
        </div>
    </div>
    <div class="sp-acc-box-block"></div>
</div>
