.sp-izi-item-numeral {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.count-numeral, .sp-izi-textarea-wrap {
    flex: 0 0 calc(50% - 7px);
}
.count-numeral {
    display: flex;
    flex-direction: column;
}
.sp-izi-textarea, .sp-izi-quote-textarea {
    resize: none;
    width: 100%;
    height: 42px;
}
.sp-izi-quote {
    margin-top: 7px;
    flex: 0 0 100%;
}