.sp-block-complex_image_text .sp-area2 {
    margin-top: 10px;
}

.sp-area-image .sp-col-item {
    width: 100%;
}

.sp-area-image .sp-table .sp-col {
    display: block;
}

.sp-block-my_charity_misson {
    display: flex;
    flex-wrap: wrap;
}

.sp-block-my_charity_misson .sp-area-image {
    flex: 0 0 50%;
}

.sp-block-my_charity_misson .sp-block-text {
    flex: 0 0 100%;
}

.sp-block-my_charity_misson .sp-area-image input.sp-item-text {
    pointer-events: none;
}

.sp-block-my_charity_misson .sp-area-image1 input.sp-item-text,
.sp-block-my_charity_misson .sp-area-image2 input.sp-item-text {
    display: none;
}

.sp-block-my_charity_misson .sp-area-image-left:before {
    content: 'Картинка слева';
}

.sp-block-my_charity_misson .sp-area-image-right:before {
    content: 'Картинка справа';
}

.sp-block-my_charity_misson .sp-area-image-light:before {
    content: 'Картинка в центре для светлой темы';
}

.sp-block-my_charity_misson .sp-area-image-dark:before {
    content: 'Картинка в центре для темной темы';
}

.sp-block-my_charity_misson .sp-area-image:before {
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
    font-size: 16px;
    margin-bottom: 7px;
}
