<div class="sp-x-lt">
    {{?it.compiled && it.compiled.length > 0}}
    <div class="sp-x-lt-settings" title="Настройка сетки, общая для всех колонок">
        {{~it.compiled :item}}
        <div data-name="{{!item.name}}" class="sp-x-settings-group">
            {{~item.options :option}}
            {{?option.selected}}
            <span class="sp-x-active" title="{{!option.value}}" data-value="{{!option.value}}">{{=option.title}}</span>
            {{??}}
            <span title="{{!option.value}}" data-value="{{!option.value}}">{{=option.title}}</span>
            {{?}}
            {{~}}
        </div>
        {{~}}
        <div class="sp-x-lt-separator"></div>
    </div>
    {{?}}
    <div class="sp-x-buttons sp-x-buttons-lt1">
        <div class="sp-x-lt-tabs">
            {{~it.columns :col}}
            {{=col.tab}}
            {{~}}
        </div>
        <div class="sp-x-buttons-group">
            {{?it.enableChange}}
            <span title="Вставить блоки в выбранную колонку" class="sp-x-btn sp-x-col-paste">&crarr; Вставить</span>
            <span title="" class="sp-x-btn sp-x-btn-green sp-x-pp-lt-open">... Действия</span>
            {{?}}
        </div>
        <div class="sp-x-pp-lt">
            {{?it.enableChange}}
            <div class="sp-x-pp-group">
                <span class="sp-x-pp-group-title">Действия с колонкой</span>
            </div>
            <div class="sp-x-pp-group">
                <span title="Изменить название выбранной колонки" class="sp-x-btn sp-x-col-edit">Изменить название</span>
            </div>
            <div class="sp-x-pp-group">
                <span title="Копировать блоки в выбранной колонке" class="sp-x-btn sp-x-col-copy">Копировать</span>
                <span title="Вырезать блоки в выбранной колонке" class="sp-x-btn sp-x-col-cut">Вырезать</span>
            </div>
            {{?it.enableMoveColumns}}
            <div class="sp-x-pp-group">
                <span title="Передвинуть колонку влево" class="sp-x-btn sp-x-col-left">&larr; Влево</span>
                <span title="Передвинуть колонку вправо" class="sp-x-btn sp-x-col-right">&rarr; Вправо</span>
            </div>
            {{?}}
            <div class="sp-x-pp-group">
                <span class="sp-x-pp-group-title">Действия с сеткой</span>
            </div>
            <div class="sp-x-pp-group">
                <span title="Поднять сетку вверх" class="sp-x-btn sp-x-lt-up">&uarr; Поднять</span>
                <span title="Опустить сетку вниз" class="sp-x-btn sp-x-lt-dn">&darr; Опустить</span>
            </div>
            <div class="sp-x-pp-group">
                <span title="Удалить сетку" class="sp-x-btn sp-x-lt-del">х Удалить сетку</span>
            </div>
            {{?}}
        </div>
    </div>
    <div class="sp-x-separator">
        <span title="Показать\скрыть блоки в сетке" class="sp-x-separator-handle sp-x-btn sp-x-lt-toggle">&equiv;</span>
    </div>
    <div class="sp-x-lt-row">
        {{~it.columns :col}}
        {{=col.html}}
        {{~}}
    </div>
    <div class="sp-x-buttons sp-x-buttons-lt2">
        {{?it.enableChange}}
        <span class="sp-x-btn sp-x-btn-green sp-x-pp-blocks-open">Добавить блок</span>
        <span class="sp-x-btn sp-x-lastblock">Добавить</span>
        {{?}}
    </div>
</div>
