<div class="sp-x-col" data-uid="{{=it.uid}}">
    {{?it.compiled && it.compiled.length > 0}}
    <div class="sp-x-col-settings" title="Настройка выбранной колонки">
        {{~it.compiled :item}}
        <div class="sp-x-settings-group">
            {{~item.options :option}}
            {{?option.selected}}
            <span title="{{!option.value}}" data-value="{{!option.value}}" class="sp-x-active">{{=option.title}}</span>
            {{??}}
            <span title="{{!option.value}}" data-value="{{!option.value}}">{{=option.title}}</span>
            {{?}}
            {{~}}
        </div>
        {{~}}
    </div>
    {{?}}
</div>
