.side-panel-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3000;
	display: none;
	background-color: rgba(0, 0, 0, .4);
	transform: translateZ(0);
	overflow: hidden;
}

.side-panel-overlay-open {
	display: block;
	pointer-events: auto;
}

.side-panel-overlay-opening {
	pointer-events: none;
}

.side-panel-overlay-hidden {
	background-color: transparent !important;
}

.side-panel-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3001;
	display: block;
	width: calc(100% - 300px);
	background: #ebf1f4;
	transform: translateX(100%);
}

.side-panel-show-shadow.side-panel-container {
	box-shadow: -5px 0 22px -5px rgba(0, 0, 0, 0.3);
}

.side-panel-fullscreen {
	left: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
}

.side-panel-fullscreen .side-panel-container {
	max-width: none !important;
	width: 100% !important;
}

.side-panel-disable-scrollbar {
	overflow: hidden;
}

.side-panel-label {
	display: flex;
	position: absolute;
	left: 0;
	top: 21px;
	min-width: 30px;
	height: 38px;
	padding-right: 5px;
	background: rgba(47, 198, 246, .95);
	border-top-left-radius: 19px;
	border-bottom-left-radius: 19px;
	white-space: nowrap;
	overflow: hidden;
	transition: top 0.3s;
	box-shadow: inset -6px 0 8px -10px rgba(0, 0, 0, 0.95);
	z-index: 1;
	transform: translateX(-100%);
	cursor: pointer;
}

.side-panel-close-btn {
	display: inline-block;
	width: 34px;
	height: 38px;
	vertical-align: top;
	border-radius: 19px;
	transition: all .2s;
}

.side-panel-hide-close-btn .side-panel-close-btn {
	opacity: 0;
	margin-left: -19px;
}

.side-panel-darken-close-btn .side-panel-close-btn {
	opacity: 0.4;
}

.side-panel-close-btn-inner {
	position: relative;
	width: 22px;
	height: 22px;
	margin-top: 6px;
	margin-left: 7px;
	background-color: transparent;
	border: 2px solid transparent;
	border-radius: 50%;
	opacity: 0.75;
	transition: all 300ms ease;
}

.side-panel-label:hover .side-panel-close-btn-inner {
	border: 2px solid rgba(255, 255, 255, 0.4);
	opacity: 1;
}

.side-panel-close-btn-inner:after,
.side-panel-close-btn-inner:before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 14px;
	height: 2px;
	background-color: #fff;
	content: "";
}

.side-panel-close-btn-inner:before {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.side-panel-close-btn-inner:after {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.side-panel-label-text {
	display: inline-block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	height: 100%;
	margin-left: 2px;
	margin-right: 8px;
	line-height: 38px;
	vertical-align: top;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
}

.side-panel-label-text:empty {
	display: none;
}

.side-panel-label-text-hidden {
	display: none;
}

.side-panel-content-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	padding: 0;
	z-index: 2;
}

.bx-touch .side-panel-content-container {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.side-panel-iframe {
	position: relative;
	z-index: 3000;
	overflow: auto;
	width: 100%;
	height: 100%;
}

.side-panel-loader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3200;
	display: block;
	opacity: 1;
	background-color: #fff;
}

.template-bitrix24 .side-panel-loader {
	background-color: #eef2f4;
}

/* Move these styles to .side-panel-loader when standard loaders get fixed*/
.side-panel-loader[data-loader="default-loader"] {
	left: 0;
	right: 0;
}

.side-panel-loader-container {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
}

.side-panel-loader.default-loader {
	right: 0;
	left: 0;
	background-color: #fff;
}

.side-panel-loader-mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	height: 100%;
	background: url(images/loader.gif) fixed repeat 0 0;
}


.side-panel-default-loader-container {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 110px;
	height: 110px;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.side-panel-default-loader-circular {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-animation: side-panel-loader-rotate 2s linear infinite;
	animation: side-panel-loader-rotate 2s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.side-panel-default-loader-path {
	stroke: #bfc3c8;
	stroke-width: 1.5;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	-webkit-animation: side-panel-loader-dash 1.5s ease-in-out infinite;
	animation: side-panel-loader-dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

@-webkit-keyframes side-panel-loader-rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes side-panel-loader-rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes side-panel-loader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes side-panel-loader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

.side-panel-print {
	display: none;
	position: absolute;
	left: -64px;
	bottom: 0;
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.side-panel-print-visible {
	display: block;
}

.side-panel-print:after {
	display: block;
	content: "";
	position: absolute;
	bottom: 22px;
	right: 24px;
	width: 16px;
	height: 17px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBkPSJNMi44OTUgMy4yMjVoMTAuMTE3Yy4xNyAwIC4zMDgtLjE0LjMwOC0uMzE3Vi4zODVhLjMxMi4zMTIgMCAwIDAtLjMwOC0uMzE3SDIuODk1YS4zMTQuMzE0IDAgMCAwLS4zMDguMzE3djIuNTI2YzAgLjE3NC4xMzkuMzE0LjMwOC4zMTR6bTEyLjE3NyAxLjU3OUgxLjE1YS43NzEuNzcxIDAgMCAwLS43NzMuNzY2djUuMzY3YzAgLjQyMi4zNDcuNzY3Ljc3My43NjdoLjc3NHYzLjA2NmMwIC40MjMuMzQ3Ljc2Ny43NzMuNzY3aDEwLjgyOGEuNzcxLjc3MSAwIDAgMCAuNzc0LS43Njd2LTMuMDY2aC43NzNhLjc3MS43NzEgMCAwIDAgLjc3NC0uNzY3VjUuNTdhLjc3MS43NzEgMCAwIDAtLjc3NC0uNzY2em0tMi4zMiA5LjJIMy40N3YtMy4wNjdoOS4yOHYzLjA2N3ptLjc3My02LjEzNGEuNzcxLjc3MSAwIDAgMS0uNzczLS43NjZjMC0uNDIzLjM0Ny0uNzY3Ljc3My0uNzY3LjQyNyAwIC43NzQuMzQ0Ljc3NC43NjdhLjc3MS43NzEgMCAwIDEtLjc3NC43NjZ6IiBmaWxsPSIjRkZGIiBvcGFjaXR5PSIuNiIvPjwvc3ZnPg==);
	opacity: 0.2;
	transition: opacity .3s;
}

.side-panel-print-visible:after {
	opacity: 0.6;
}

.side-panel-print:hover:after {
	opacity: 1;
}