.sp-block-complex_image_text .sp-area2 {
    margin-top: 10px;
}

.sp-area-image .sp-col-item {
    width: 100%;
}

.sp-area-image .sp-table .sp-col {
    display: block;
}

.sp-block-my_about_blockquote_with_man {
    display: flex;
    flex-wrap: wrap;
}

.sp-block-my_about_blockquote_with_man .sp-area-image {
    flex: 0 0 50%;
}
.sp-block-my_about_blockquote_with_man .sp-area-image3 {
    flex: 0 0 100%;
}

.sp-block-my_about_blockquote_with_man .sp-block-text {
    flex: 0 0 100%;
}

.sp-block-my_about_blockquote_with_man .sp-area-image input.sp-item-text {
    pointer-events: none;
}

.sp-block-my_about_blockquote_with_man .sp-area-image1 input.sp-item-text,
.sp-block-my_about_blockquote_with_man .sp-area-image2 input.sp-item-text,
.sp-block-my_about_blockquote_with_man .sp-area-image3 input.sp-item-text {
    display: none;
}

.sp-block-my_about_blockquote_with_man .sp-area-image1:before {
    content: 'Лого для светлой темы';
}

.sp-block-my_about_blockquote_with_man .sp-area-image2:before {
    content: 'Лого для темной темы';
}
.sp-block-my_about_blockquote_with_man .sp-area-image3:before {
    content: 'Фотография';
}

.sp-block-my_about_blockquote_with_man .sp-area-image:before {
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
    font-size: 16px;
    margin-bottom: 7px;
}
