<div class="sp-area-image3 sp-area-image"></div>
<div class="sp-area2"></div>
<div class="column count-numeral">
    <input type="text" class="sp-izi-count" placeholder="ФИО" value="{{!it.valueCount}}">
    <input type="text" class="sp-izi-count-title" placeholder="Должность" value="{{!it.valueTitle}}">
</div>